<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
</head>

<body style="font-size:20px; padding:80px;">
    <!-- Add your EJS code here -->
    <div>
      <h1>URL Index</h1>
<% if(user === undefined) { %>
      <p class="bg-primary" style="padding: 15px;"> Please Login or Register First !!!</p>

<% } else { %>

      <table class="table table-hover">
        <tr>
          <th>Short URL</th>
          <th>URL </th>
          <th>Created</th>
          <th>V</th>
          <th>UV</th>
          <th colspan="2"></th>
        </tr>
      <% for(let shortUrl in urls) { %>
        <tr>
          <div class="form-group">
            <td align="right">
              <label><%= shortUrl %>
              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
              </label>
            </td>
            <td>
              <a href="/u/<%= shortUrl %>"><%= urls[shortUrl].url %></a>
            </td>
            <td><%= urls[shortUrl].date %></td>
            <td><%= urls[shortUrl].visits %></td>
            <td><%= urls[shortUrl].uVisits %></td>
            <td width="5%">
              <a href="/urls/<%= shortUrl %>"><button class="btn btn-primary">Edit</button></a>
            </td>
            <td width="5%">
              <form class="form-inline" method="POST" action="/urls/<%= shortUrl %>/delete">

                <button type="submit" class="btn btn-danger">Delete</button>
            </td>
          </div>
        </form>
        </tr>
    <% } %>
    </table>
    <a href="/urls/new"><button class="btn btn-warning">Add New URL</button></a>

<% } %>
    </div>
</body>
</html>