<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
</head>

<body style="font-size:20px; padding:50px;">
    <!-- Add your EJS code here -->
    <div>
      <h1>URL Index</h1>
      <table class="table">
      <% for(let shortUrl in urls) { %>
        <tr>
          <div class="form-group">
            <td align="right"><label><%= shortUrl %> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></label></td>
            <td>
              <a href="/u/<%= shortUrl %>"><%= urls[shortUrl] %></a>
            </td>
            <td width="5%">
              <a href="/urls/<%= shortUrl %>"><button class="btn btn-primary">Edit</button></a>
            </td>
            <td width="5%">
              <form class="form-inline" method="POST" action="/urls/<%= shortUrl %>/delete">

                <button type="submit" class="btn btn-danger">Delete</button>
            </td>
          </div>
        </form>
        </tr>
    <% } %>
    </table>
    </div>
</body>
</html>